# personal db

In [ ]:
# personal db
PP_OAP_GUXIA_T

# research db
pp_scratch_risk

# show table columns

In [ ]:
help table table_name

# show table schema

In [ ]:
show table {database_name}.{table_name}

show view {database_name}.{view_name}

help column {data_base_name}.{view_or_table_name}.{column_name, *}

# primary index & key

In [ ]:
-- primary index is used to partition rows in a schema like hashing
-- example

create multiset table table_a (
    col1
    , col2
)
primary index(col1)

-- primary key must be defined on table column
create multiset table table_a (
    col1 primary key
    col2
)

# multiset and primary index

In [ ]:
-- multiset with primary index: ok to insert multi row with same primary index
-- multiset with unique primary index: not ok to insert multi row with same primary index

# with as clause

In [ ]:
with data as (
    select clause
)

select * from data

# partition a table horizontally

In [ ]:
create table (
    col_name date
)

partition by range_n( col_name between date '2021-01-01' and date '2030-12-31' each interval '1' day)
  
using range_n to create only limited partition keys, in this way you can leave some space for teradata optimizer to organize the data

# Insert into Table with Result from CTE

In [ ]:
insert into target_table [(col_1, col_2)]
with table_name_1 as (),

    table_name_2 as ()
select * from table_name_2

# use CTE in create as clause

In [ ]:
create multiset table db_name.table_name as (
with data as(
    select some_col
    from some_table
    where
        1=1 and some_cond
),

select * from data
)
with data
primary index(some_col)

# teradata volatile table

In [ ]:
-- syntax for creating volatile table

drop table vt1;


create volatile table vt1 (
    column_1 integer

    , column_2 integer
)

on commit preserve rows;
-- can be used to quickly verify some sql logic

# date convert to string

In [ ]:
to_char(date_column, 'YYYY-MM')

# percentile

In [ ]:
percentile_disc(0.01) within group (order by score desc)

# list all table in db

In [ ]:
SELECT
    DatabaseName,
    TableName,
    CreateTimeStamp,
    LastAlterTimeStamp

FROM DBC.TablesV
WHERE 
    TableKind = 'T'
    and DatabaseName = 'PP_SCRATCH_RISK'
    and TableName like 'guxia%'
ORDER BY TableName;

# drop table using pp utils

In [ ]:
call pp_monitor.drop_table('pp_scratch_risk.guxia_payfast_v2_capture');

# display table storage size

In [ ]:
SELECT
    A.DatabaseName
    , A.tablename
    , CreateTimeStamp
    , CAST(SUM(CURRENTPERM) AS DECIMAL(18,2))/(1024*1024*1024) (TITLE 'Used(GB)')

FROM dbc.tablesize A, DBC.TABLES B
WHERE

    A.TABLENAME=B.TABLENAME
    AND A.DatabaseName = B.DatabaseName
    AND A.DatabaseName = 'PP_OAP_GUXIA_T'

GROUP BY 1,2,3
ORDER BY 4 DESC;

# convert timestamp to date in timezone

In [ ]:
cast(timestamp to date at time zone -8)

# convert integer to timestamp

In [ ]:
to_timestamp(integer_col)